 <nav class="fixed top-0 w-full border-b border-b-[#131613] z-50 backdrop-blur-xs py-3  ">
      <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" class="bg-[#0A0A0A] py-1 px-1 overflow-clip relative  max-w-sm hover:max-w-5xl mx-auto h-16 flex items-center justify-between border border-[#1d201d]  rounded-3xl transition-all duration-300 ease-in">

        <div class="absolute z-1 flex w-full h-20">
          <div class="flex-1 scanner-left"> </div>
          <div class="flex-1 scanner-right"> </div>
        </div>
      <div  class="text-[#CDCAC9] flex justify-between w-full h-full items-center px-5 z-2 rounded-2xl bg-[#0A0A0A]">
        <div class="flex gap-2 items-center justify-center">
          <img
            src="/assets/img/photo-perfil-job.jpg"
            alt="{{ 'hero.photo_alt' | translate }}"
            class=" w-10 rounded-full object-cover border "
          />
          <span class="font-semibold text-lg">Eduardo Del Aguila</span>
        </div>
          <ul class="hidden md:flex items-center gap-8 text-sm">
            @if (!isComprimed()) {
              <li><a href="#home" [routerLinkActive]="['text-green-400']" class="hover:text-green-500/60 transition-colors">{{ 'navbar.home' | translate }}</a></li>
              <li><a href="#projects" [routerLinkActive]="['text-green-400']" class="hover:text-green-500/60 transition-colors">{{ 'navbar.skills' | translate }}</a></li>
              <li><a href="#experience" [routerLinkActive]="['text-green-400']" class="hover:text-green-500/60 transition-colors">{{ 'navbar.experience' | translate }}</a></li>
              <!-- <li><a href="#" [routerLinkActive]="['text-green-400']" class="hover:text-green-500/60 transition-colors">{{ 'navbar.contact' | translate }}</a></li> -->
            }
            </ul>
          <button
            (click)="languageService.toggle()"
            class="text-sm border border-white/20 rounded-full px-4 py-1.5 hover:border-white/50 transition-colors"
          >
            {{ languageService.language() === 'es' ? 'EN' : 'ES' }}
          </button>
      </div>

      </div>
    </nav>
